@import url(./vars.css);
@import url(./onboard.css);
@import url(../../node_modules/@safe-global/safe-react-components/dist/fonts.css);

@font-face {
  font-family: 'Interstate Black Comp';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Black Comp'), url('/font/interstate-black-comp-58b64117a2ad9.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Black Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Black Cond'), url('/font/interstate-black-cond-58b642507872b.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Light Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Light Cond'), url('/font/interstate-light-cond-58b64220b1490.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Regular Comp';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Regular Comp'), url('/font/interstate-regular-comp-58b641cc0aca1.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Regular Italic'), url('/font/interstate-regular-italic-58b641ecad88f.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate UltraBlack Comp';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate UltraBlack Comp'), url('/font/interstate-ultrablack-comp-58b64130a8cbf.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Bold Cond';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Bold Cond'), url('/font/interstate-bold-cond-58b64162258ca.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate ExtraLight Italic'), url('/font/interstate-extralight-italic-58b642045546b.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Light Italic'), url('/font/interstate-light-italic-58b64147957e5.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Interstate Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Interstate Thin Italic'), url('/font/interstate-thin-italic-58b641b2d5a92.woff') format('woff');
  }


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Interstate Light Cond', sans-serif !important;
  background-color: var(--color-background-paper);
}

.MuiTypography-root, .MuiTypography-h1, .MuiTypography-h2, .MuiTypography-h3, .MuiTypography-h4, .MuiButtonBase-root, span, div {
  font-family: 'Interstate Light Cond', sans-serif !important;
}

.MuiButtonBase-root.MuiButton-contained {
  background-color: var(--color-button-background);
  color: var(--color-button-font);
  text-transform: uppercase;
}

.MuiLinearProgress-bar {
  color: #10433F;
}

.NavLogo {
  max-height: 30px;
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 52px;
  --footer-height: 67px;
  --import-export-widget-height: 166px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.illustration-main-fill {
  fill: var(--color-primary-main);
}

.illustration-light-fill {
  fill: var(--color-border-main);
}

.illustration-background-fill {
  fill: var(--color-logo-background);
}

/* Note: a fallback `stroke` property must be on the svg to work */
.illustration-main-stroke {
  stroke: var(--color-primary-main);
}

.illustration-light-stroke {
  stroke: var(--color-border-main);
}

.illustration-background-stroke {
  stroke: var(--color-logo-background);
}

@media (max-width: 600px) {
  .sticky {
    position: sticky;
    right: 0;
    background: var(--color-background-paper);
  }
}

body.beamerAnnouncementBarTopActive {
  padding-top: 0 !important;
}

#beamerLastPostTitle {
  left: 120px !important;
}
